<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <h1>Playwright</h1>
        <h1 id="h1">HI text</h1>
        <h2 class="h2 text">h2 text</h2>
        <h2 class="h2-text">h22 text</h2>

    </div>
    <div class="py">
        <a href="login">login</a>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </div>

<div>
  <p>Python</p>
  <p>Playwright</p>
  <p>Pytest</p>
</div>

<div>
  <form>
    <button type="submit">Login</button>
    <button type="reset">Registration</button>
  </form>
  <div>
    <button type="submit">Login</button>
    <button type="reset">Registration</button>
  </div>
</div>
<div>
  <div id="footer">
    <span>Python</span>
    <span>Pytest</span>
    <span>Playwright</span>
  </div>
</div>

</body>
</html>